<!DOCTYPE html>
<html>
<head>
  <title>TTTT</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if logged_in? %>
    Logged in as <%= current_user.email %> |
    <%= button_to "Log out", session_url, method: :delete %>
  <% else %>
    <a href="auth/facebook">LOG IN WITH THE FACEBOOK</a>
  <% end %>


  <% flash.each do |type, message| %>
  <span><strong><%= type %>:</strong> <%= message %></span>
  <% end %>



<%= yield %>

</body>
</html>
